<% include ../partials/header.ejs %>
    <!--<h1>OLOB - April 6-7</h1>-->
    <!--<h3>are you ready?</h3>-->
    <a class="btn btn-dark buttonMargin" href="/new" role="button">New Post!</a>
    <div id="infoButtons">
        <a class="btn btn-light" href="/hammertime" role="button">Hammertime!</a>
        <a class="btn btn-light" href="/info" role="button">Infotainment</a>
        <!--<a class="nav-item nav-link" href="/hammertime">Hammertime!</a>-->
        <!--<a class="nav-item nav-link" href="/info">AOLob Infotainment</a>-->
        <button type="button" id="btnPopover" class="btn btn-light" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Go see the info page!">April 6-7</button>
        <!--<button type="button" id="btnPopover" class="btn btn-light" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Benji | Alex | Ream">Captains</button>-->
    </div>
    <!--reverse the order of posts and print. Does not actually reverse in DB.-->
    <% posts.reverse(); %>
    <% posts.forEach(function(post){ %>
        <div class="blog">
            <div class="post">
                <p class="title">
                    <%= post.title %>
                </p>
                <p id="postBody">
                    <%= post.body %>
                </p>

               <% if(post.image) { %>
                    <div class="thumbnail">
                        <img class="image" src="<%= post.image %>">
                    </div>
                <% } %>
               <% if(post.photo) { %>
                    <div class="thumbnail">
                        <img class="photo" src="<%= post.photo %>">
                    </div>
                <% } %>
                <% if(post.name) { %>
                    <p id="postName">
                        - <%= post.name %>
                    </p>
                <% } %>
                <a href="/<%= post._id %>/edit" class="btn btn-sm btn-dark inPostButton">Edit</a>
                <form action="/<%= post._id %>?_method=DELETE" id="deleteButton" method="POST">
                    <button class="btn btn-sm btn-light inPostButton">Delete</button>
                </form>
            </div>
        </div>
        <hr>
    <% }) %>
        
<% include ../partials/footer.ejs %>
