<% include ../partials/header.ejs %>
    <!--<h1>OLOB - April 6-7</h1>-->
    <!--<h3>are you ready?</h3>-->
    <a class="btn btn-dark buttonMargin" href="/new" role="button">New Post!</a>
    <div id="infoButtons">
        <a class="btn btn-light" href="hammertime" role="button">Hammertime!</a>
        <a class="btn btn-light" href="info" role="button">Infotainment</a>
        <button type="button" id="btnPopover" class="btn btn-light" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Go see the info page!">April 6-7</button>
        <!--<button type="button" id="btnPopover" class="btn btn-light" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Benji | Alex | Ream">Captains</button>-->
    </div>
    <!--reverse the order of posts and print. Does not actually reverse in DB.-->
    <% posts.reverse() %>
    <% posts.forEach(function(post){ %>
        <div class="blog">
            <div class="post">
                <p class="title">
                    <%= post.title %>
                </p>
                <p id="postBody">
                    <% if(post.body === "Ream's OLOB message"){ %>
                        <p>Please keep in mind that tickets and fines WILL BE ISSUED 
                        for open alcohol containers this weekend, as they are every year. 
                        My guess is smoking is also prohibited. </p>
                        
                        <p>If we get ticketed at our camp, we get ticketed as a team and 
                        will split the fine. With that said, everyone has a responsibility 
                        to be smart about their preferred method of consumption during 
                        the tourney.</p>

                    <ul>***** DO *****
                        <li>use a nalgene or water bottle to hold your mixed beverage!</li>
                        <li>enjoy your favorite edibles!</li>
                        <li>DRINK WATER!</li>
                        <li>make jello shots!</li>
                        <li>DRINK WATER!</li>
                    </ul>
                    <ul>***** DO NOT*****
                        <li>bring bottles or glass</li>
                        <li>openly carry alcohol around in its original container</li>
                        <li>smoke cigarettes</li>
                        <li>bring basic ass, obvious, solo cups</li>
                        <li>let police look in your bag or cooler</li>
                    </ul>
                    
                    <p>Please add more dos/don'ts to the comments section 
                    and I'll update the post!!</p>

                    <% } else { %>
                        <%= post.body %>
                    <% } %>
                </p>

               <% if(post.image) { %>
                    <div class="thumbnail">
                        <img class="image" src="<%= post.image %>">
                    </div>
                <% } %>
               <% if(post.photo) { %>
                    <div class="thumbnail">
                        <img class="photo" src="<%= post.photo %>">
                    </div>
                <% } %>
                <% if(post.name) { %>
                    <p id="postName">
                        - <%= post.name %>
                    </p>
                <% } %>
                
                <a href="/<%= post._id %>" class="btn btn-sm btn-dark inPostButton">Comments ( <%= post.comments.length %> )</a>
                
                <% if(currentUser && currentUser.username === post.name){ %>
                    <a href="/<%= post._id %>/edit" class="btn btn btn-light inPostButton">Edit</a>
                    <form action="/<%= post._id %>?_method=DELETE" id="deleteButton" method="POST">
                        <button class="btn btn-light">Delete</button>
                    </form>
                <% } %>
                <!--on button click, call popover / alert-->
                <!-- Button trigger modal -->
                <!--<button type="button" class="btn btn-sm btn-light inPostButton" data-toggle="modal" data-target="#exampleModalCenter">-->
                <!--  Delete-->
                <!--</button>-->
                
                <!-- Modal -->
                <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
                <!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
                <!--    <div class="modal-content">-->
                <!--      <div class="modal-header">-->
                <!--        <h5 class="modal-title" id="exampleModalCenterTitle">Delete Me?</h5>-->
                <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--          <span aria-hidden="true">&times</span>-->
                <!--        </button>-->
                <!--      </div>-->
                <!--      <div class="modal-body">-->
                <!--        This procedure cannot be undone.-->
                <!--      </div>-->
                <!--      <div class="modal-footer">-->
                <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Forget it</button>-->
                        <!--<button type="button" class="btn btn-primary">Delete</button>-->
                <!--      </div>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--</div>-->
                <!--from popover, call delete method-->

            <!--<div>-->
            <!--    <button class="likeButt btn btn-light">Like</button>-->
            <!--    <button class="noLikeButt btn btn-dark">No Like</button>-->
            <!--</div>-->
            
            <!--    <script>-->
            <!--        var likeButt = document.querySelector("likeButt");-->
            <!--        var noLikeButt = document.querySelector("noLikeButt");-->
            <!--        var likeCount;-->
            <!--        var noLikeCount;-->
            <!--        likeButt.addEventListener("click", function(){-->
            <!--            likeCount += 1;-->
            <!--            console.log(likeCount);-->
            <!--        });-->
            <!--        noLikeButt.addEventListener("click", function(){-->
            <!--            noLikeCount += 1;-->
            <!--            console.log(noLikeCount);-->
            <!--        });-->
            <!--    </script>-->
            </div>
        </div>
        <hr>
    <% }) %>

<% include ../partials/footer.ejs %>
