<% include ../partials/header.ejs %>

    <div class="blog">
        <div class="post">
            <p class="title">
                <%= post.title %>
            </p>
            <p id="postBody">
                <%= post.body %>
            </p>

           <% if(post.image) { %>
                <div class="thumbnail">
                    <img class="image" src="<%= post.image %>">
                </div>
            <% } %>
           <% if(post.photo) { %>
                <div class="thumbnail">
                    <img class="photo" src="<%= post.photo %>">
                </div>
            <% } %>
            <% if(post.name) { %>
                <p id="postName">
                    - <%= post.name %>
                </p>
            <% } %>      
            <% post.comments.forEach(function(comment){ %>
                <p>
                    <strong><%= comment.author %></strong> - <%= comment.text %>
                </p>
            <% }) %>
            <% if(currentUser) { %>
                <form action="/<%= post._id %>" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="add a comment">
                        <!--<textarea class="form-control commentBox" id="exampleFormControlTextarea1" rows="3" name="comment[text]" placeholder="add a comment" required></textarea>-->
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[author]" value="<%= currentUser.username %>" readonly>
                    </div>
                    <!--<div class="form-group">-->
                        <button class="form-group btn btn-light">Add Comment</button>                
                    <!--</div>-->
                    <!--if the user is the owner of this post, show edit/delete post buttons-->
                </form>
                    <% if (currentUser.username === post.name) { %>
                        <!--<div class="edit-delete">-->
                            <a href="/<%= post._id %>/edit" class="btn btn-dark inPostButton">Edit</a>
                            <form action="/<%= post._id %>?_method=DELETE" id="deleteButton" method="POST">
                                <button class="btn btn-dark">Delete</button>
                            </form>
                        <!--</div>-->
                   <% } %>
                <% } else { %>
                    <a class="btn btn-light" href="/login">Sign in to comment</a>
                <% } %>

        </div>
    </div>

<% include ../partials/footer.ejs %>